/****************************************************
***** DEFINICION DE VARIABLES GLOBALES: COLORES *****
*****************************************************/

$color-fondo: #fff3dd;
$color-fondo-claro: #fffbf3;
$color-primario-oscuro: #709279;
$color-primario-claro: #d8e4d0;

$color-fondo1: #ffdbeb;
$color-primario1: #8eb695;