@charset "UTF-8";
/***********************************************************
***** FICHERO PARA ESTABLECER UN ESTILO COMUN EN TODAS ***** 
*****    LAS PAGINAS RELACIONADAS CON LOS PATRONES     *****
************************************************************/
/****************************************************
***** DEFINICION DE VARIABLES GLOBALES: COLORES *****
*****************************************************/
.main-content {
  margin-top: 0;
}

.contenedor {
  width: 80%;
  justify-self: center;
}

.row {
  margin-top: 0.5vw;
}

.row-contenedor {
  margin: 5vw 0 0 !important;
}

.div-tags {
  display: flex;
  flex-wrap: wrap;
}

.div-carousel {
  object-fit: cover;
  width: auto;
  height: auto;
}

.titulo-seccion {
  display: flex;
  align-content: center;
}

.div-btn-addSeccion {
  margin-top: 0 !important;
}

.div-input-images {
  display: flex;
  flex-direction: row;
}

.input-group-imagen {
  display: flex;
  flex-direction: column;
}

col-info {
  width: 70%;
}

.row-resenias {
  flex-wrap: nowrap;
}

.creador {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: #709279;
}

.accordion-item-instrucciones {
  margin-bottom: 8vh;
  margin-top: 0;
}

.card-header {
  background-color: none;
}

.card-info {
  margin-top: 0;
  background-color: #d8e4d0;
  border: none;
  border-radius: 0.5rem;
}

.card-body {
  background-color: #d8e4d0;
  color: #709279;
}

.card-edicion, .card-edicion-body {
  margin-top: 0;
}

#secciones-patron {
  padding: 1rem;
}

.card-seccion, .card-body-seccion {
  background-color: #709279;
  margin: 0;
}

.card-resenia, .card-body-resenia {
  background-color: #709279;
  color: #d8e4d0;
}

.card-body-resenia {
  padding: 0.5rem;
}

.card-resenia {
  padding: 0.5rem;
  margin: 0;
  max-width: 13rem;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

#contenedorReseñas {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  scroll-padding: 1rem;
}

.acordion-edicion {
  width: 70%;
  justify-self: center;
}

.accordion-item {
  margin-top: 1vw;
  border: none;
  background-color: #d8e4d0;
  border-radius: 0.5rem;
}

.accordion-button {
  background-color: #709279 !important;
  color: #fff3dd !important;
  font-weight: bold;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.accordion-button.collapsed {
  background-color: #d8e4d0 !important;
  color: #709279 !important;
  border-radius: 0.5rem !important;
}

.accordion-body {
  background-color: #d8e4d0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.accordion-header-resenias {
  display: flex;
  justify-content: space-between;
}

.accordion-button::after {
  color: #709279;
}

.form-control, .form-select {
  background-color: #fffbf3;
  border-color: #d8e4d0;
  margin: 0;
}

.titulo-info, .txt-info {
  align-items: center;
}

.titulo-info {
  color: #709279;
}

.txt-info {
  background-color: #709279;
  border-radius: 1.2vw;
  color: #fff3dd;
}

.txt-tags {
  background-color: #709279;
  border-radius: 1.2vw;
  color: #fff3dd;
  padding: 0.5rem;
}

.txt-titulo, .txt-subtitulo {
  margin: 0 !important;
}

.img-usu {
  width: 1.5vw;
  height: 1.5vw;
}

.img-patron {
  object-fit: cover;
  width: 25vw;
  height: auto;
  padding-right: 4vh;
}

.img-preview {
  border: 0 solid #709279;
  margin-top: 0;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  max-width: 10rem;
  max-height: 10rem;
}

.img-usu-resenia {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
}

.img-resenia {
  max-width: 11rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.btn-addSeccion {
  margin: 1.5rem;
  margin-top: 0 !important;
}

.btn-nueva-resenia {
  margin: 0;
  justify-self: right;
}

p {
  margin: 0.5rem;
}

h5 {
  color: #709279;
}

input {
  background-color: #fffbf3;
}

.input-group-text {
  background-color: #d8e4d0;
}

.d-flex.flex-wrap {
  flex-direction: row;
}

.comentario-resenia {
  margin: 0;
  padding-bottom: 0.5rem;
}

.input-group-text {
  background-color: #709279;
  color: #d8e4d0;
}

#contenedorReseñas::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#contenedorReseñas::-webkit-scrollbar-track {
  background: #d8e4d0;
  border-radius: 10px;
}

#contenedorReseñas::-webkit-scrollbar-track:hover {
  background: #fff3dd;
  border-radius: 10px;
}

#contenedorReseñas::-webkit-scrollbar-thumb {
  background: #709279;
  border-radius: 10px;
}/*# sourceMappingURL=patron.css.map */